[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rirods"]
	path = rirods
	url = https://github.com/irods/irods_client_library_rirods
